@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.navbar-brand>img{
	display:inline;
	margin-right:5px;
}

.mybrand{
	padding-top: 10px;
}

.landing-glyph{
	font-size: 2em;
	color: #f05f40;
}

#contact{
	background-color: #f05f40;
}

.white-text{
	color: #ffffff;
}